<br>
<div class="card">
    <div class="card-body">
         <p></p>
         <div class="container-sm">
              <h1 style ="color: rgb(187, 45, 45);">{{postagem.titulo}}</h1><br>
         <h5>{{postagem.descricao}}</h5>
         <small>{{postagem.date}}</small><br><br>
             {{{postagem.conteudo}}}</div>
             <br><br><br>
    </div>
</div>
<script>
    let video = document.querySelectorAll('iframe');
    let width = '80%';
    video.setAttribute('width',width)

</script>
