<div class="card">
    <div class="card-body">
        <div class="card">
  <div class="card-header">
    <h4 style="color: rgb(187, 45, 45);">Quem somos?</h4><br>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Nós somos a AFJK Corporations (Adauto Filho Juscelino Kubitschek) uma equipe de produção de sites formada 
        em 1999 em Osasco, e esta é mais uma obra completa pela nossa equipe de desenvolvimento. Nós amamos filosofia,
        e adoramos ter aula com o jairo ♥♥♥♥. Nosso hobbie é programar e jogar sinuca, espero que gostem dos nossos
        próximos projetos 😎😎😎😎.
        </p>
      <footer class="blockquote-footer">Ass. Diretoria administrativa<cite title="Source Title"></cite></footer><br>
      <img src="/static/images/felipe.jpg" alt="felipe gordo japonês hentaizeiro" style="height: 250px; width: 200px" class="img-thumbnail">
       <img src="/static/images/arthur.jpg" alt="arthur morto" style="height: 250px; width: 200px" class="img-thumbnail">
       <img src="/static/images/baguete.jpg" alt="baguethomson" style="height: 250px; width: 200px" class="img-thumbnail">
       <img src="/static/images/julio.jpg" alt="julio careca" style="height: 250px; width: 200px" class="img-thumbnail">
       <img src="/static/images/julio_bombado.jpg" alt="julio careca" style="height: 250px; width: 200px" class="img-thumbnail">
       <br><br><br>
  </div>
    </div>
</div>