<div class="card">
    <div class="card-body">
        <h3>Login:</h3><br>
        <form action="/user/auth" method="POST">
            <label for="email">E-mail</label>
            <input type="email" name="email" class="form-control" required><br><br>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" class="form-control" required><br><br>
            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
    </div>
</div>