<style>
    button{
        display: inline-block;
        position: relative;
        
    }
</style>


<div class="card">
    <div class="card-body">
<div class="jumbotron">
  <h3 class="display-4">Área de administração</h3>
  <p class="lead">Bem vindo administrador! Use os recursos do blog para admnistrar suas postagens e categorias</p>
  <hr class="my-4">
  <p>O sistema de gerenciamento do blog permite criar, editar e excluir categorias e também postagens.</p><br>
  <a class="btn btn-primary btn-lg btn-dark" href="/admin/postagens" role="button">Gerenciar postagens</a><br>
  <a class="btn btn-primary btn-lg btn-dark" href="/admin/categorias" role="button">Gerenciar categorias</a>
  
    </div>
</div>


