<style>
    button{
        display: inline-block;
        position: relative;
        
    }
</style>


<div class="card">
    <div class="card-body">
<div class="jumbotron">
  <h3 class="display-4">Área de administração</h3>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p><br>
  <a class="btn btn-primary btn-lg btn-dark" href="/admin/postagens" role="button">Gerenciar postagens</a>
  <a class="btn btn-primary btn-lg btn-dark" href="/admin/categorias" role="button">Gerenciar categorias</a>
  
    </div>
</div>


