{{#if err}}
{{#each err}}
    <div class="alert alert-danger">{{text}}</div>
{{/each}}
{{/if}}
<hr>
<div class="card">
    <div class="card-body">
        <h2>Editor de categorias: </h2><br><br>
     <form action="/admin/editarCategoria" method="POST">
   <input type="hidden" name="id" value="{{categoria._id}}">
  <label for="nome">Nome:</label>
  <input type="text" name="nome" value="{{categoria.nome}}" class="form-control" required><br>
  <label for="slug">Slug:</label>
  <input type="text" name="slug" value="{{categoria.slug}}" class="form-control mt-4" required><br>
  <button type="submit" class="btn btn-dark">Salvar</button>
     </form>
    </div>
</div>
